@import url('https://fonts.googleapis.com/css2?family=Inter');

header {
  background-color: azure;
  position: fixed;
  top: 0;
  width: 100%;

  /* sticky flex nav; from stackoverflow => (fix the parent)  */
}

.nav-container,
h1,
.pOne {
  text-align: center;
}

.nav-container,
.mainpage,
#socials {
  display: flex;
  align-items: center;
}

.nav-container {
  justify-content: space-between;
}

.wlcm-btn,
h1,
.pOne {
  font-family: 'Inter', sans-serif;
}

.wlcm-btn {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.mainpage {
  flex-flow: column wrap;
  background-image: url(./bg/9.png), url(/bg/3.png), url(bg/1.png), url(bg/8.png), url(bg/4.png), url(/bg/7.png);
  background-repeat: no-repeat;
  background-position: 100% 60%, 100% 7%, 50% 60%, 7% 30%, 30% 90%, 0% 95%;
}

body {
  background-image: url(/bg/5.png);
  background-repeat: no-repeat;
  background-position: 100% 52%;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.name {
  margin-top: 15vh;
  margin-bottom: 0;
  color: #172b4d;
}

.detail {
  color: #36b37f;
  margin-top: 0;
}

.pOne {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

#socials {
  background-repeat: no-repeat;
  list-style-type: none;
}

.mediumlogo {
  margin-top: 0.7vh;
}

.logos {
  padding: 15px;
}

.temporary-spacer-div {
  height: 700px;
}
