/* just for commitq */
@import url('https://fonts.googleapis.com/css2?family=Inter');

@media only screen and (max-width: 765px) {
  .desk-nav {
    display: none;
  }

  body {
    background: #e5e5e5;
    background-image: url(./bg/5.png), url(./bg/9.png), url(./bg/3.png), url(./bg/1.png), url(./bg/7.png), url(./bg/4.png), url(./bg/8.png), url(./cards/Frame.png), url(./cards/Shape.png);
    background-repeat: no-repeat;
    background-position: 100% 38rem, 100% 15rem, 100% 3rem, 50% 3rem, 0% 32rem, 30% 34rem, 5% 11rem, 100% 97%, 50% 99.8%;
  }

  .whole-wrapper {
    display: block;
  }

  .close-ham-img {
    float: right;
    margin: 2rem 3% 0 0;
  }

  .hamburger-page {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background: #e5e5e5;
    background-image: url(./cards/Shape.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hamb-page-elements {
    display: flex;
    margin: 5rem 9% 0 9%;
  }

  .ul-items {
    color: #3a4a42;
    text-decoration: none;
  }

  .menu-inside-hamb-page {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    list-style-type: none;
  }

  .nav-container,
  h1,
  .pOne {
    text-align: center;
  }

  .languages,
  .nav-container,
  .mainpage,
  #socials,
  #socials2 {
    display: flex;
    align-items: center;
  }

  .nav-container {
    justify-content: space-between;
  }

  .wlcm-btn,
  h1,
  .pOne {
    font-family: 'Inter', sans-serif;
  }

  .wlcm-btn {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #28352f;
  }

  .menu-btn {
    margin-top: 5px;
  }

  .mainpage {
    flex-flow: column wrap;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .name {
    margin-top: 9vh;
    margin-bottom: 0;
    color: #172b4d;
  }

  .detail {
    color: #259063;
    margin-top: 0;
  }

  .pOne {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
  }

  .languages,
  #socials,
  #socials2 {
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left: 0;
  }

  .mediumlogo {
    margin-top: 0.6vh;
  }

  .logos {
    padding: 10px;
  }
}
