@import url("https://fonts.googleapis.com/css2?family=Inter");

@media only screen and (min-width: 764px) {
  .nav-container,
  h1,
  .pOne {
    text-align: center;
  }

  .languages,
  .nav-container,
  .mainpage,
  #socials {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .nav-container {
    justify-content: space-evenly;
    margin: 0 28% 0 25%;
  }

  .desk-nav {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
    color: #344563;
    animation-name: bounce;
    transform-origin: center bottom;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-fill-mode: both;
  }

  .nav1 {
    animation-delay: 0s;
  }

  .nav2 {
    animation-delay: 0.25s;
  }

  .nav3 {
    animation-delay: 0.75s;
  }

  .wlcm-btn,
  .menu-btn {
    visibility: hidden;
  }

  .upper {
    margin-left: 22%;
    margin-right: 22%;
  }

  h1,
  .pOne {
    font-family: "Inter", sans-serif;
  }

  .mainpage {
    flex-flow: column wrap;
    margin-top: 60px;
  }

  .twitterlogo {
    animation: rotate-png-back 0.5s;
  }

  .twitterlogo:hover {
    animation: rotate-png 1.5s infinite;
  }

  .linkedinlogo {
    animation: rotate-png-back 0.5s;
  }

  .linkedinlogo:hover {
    animation: rotate-png 1.5s infinite;
  }

  .mediumlogo {
    margin-top: 0.6vh;
    animation: rotate-png-back 0.5s;
  }

  .mediumlogo:hover {
    animation: rotate-png 1.5s infinite;
  }

  .githublogo {
    animation: rotate-png-back 0.5s;
  }

  .githublogo:hover {
    animation: rotate-png 1.5s infinite;
  }

  .angelistlogo {
    animation: rotate-png-back 0.5s;
  }

  .angelistlogo:hover {
    animation: rotate-png 1.5s infinite;
  }

  @keyframes rotate-png-back {
    from {
      transform: rotateY(360deg);
      filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    }

    to {
      transform: rotateY(0deg);
    }
  }

  @keyframes rotate-png {
    0% {
      filter: sepia(100%) hue-rotate(190deg) saturate(500%);
      transform: rotateY(0);
    }

    100% {
      transform: rotateY(360deg);
      filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    }
  }

  body {
    background-color: #e5e5e5;
    background-image:
      url(/dsk-bg/Frame-1.png),
      url(/dsk-bg/Frame-2.png),
      url(/dsk-bg/Frame-3.png),
      url(/dsk-bg/Frame.png),
      url(/dsk-bg/Group\ 35.png),
      url(/dsk-bg/Group\ 36.png),
      url(/dsk-bg/Group\ 37.png),
      url(/dsk-bg/Group\ 38.png),
      url(../dsk-bg/frame_bot0.png),
      url(../dsk-bg/Frame_bot1.png),
      url(../dsk-bg/frame_bot2.png);
    background-repeat: no-repeat;
    background-position:
      75% 0,
      40% 38rem,
      77% 42rem,
      0.75% 10rem,
      50% 2rem,
      100% 4rem,
      20% 43rem,
      30% 4rem,
      0% 95%,
      20% 93%,
      100% 95%;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .name {
    margin-top: 9vh;
    margin-bottom: 0;
    color: #172b4d;
  }

  .detail {
    color: #36b37f;
    margin-top: 0;
    margin-bottom: 0;
  }

  .pOne {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
  }

  .languages,
  #socials,
  #socials2 {
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left: 0;
  }

  .logos {
    padding: 10px;
  }

  @keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateY(0);
    }

    2%,
    4% {
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translateY(-30px);
    }

    6% {
      transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translateY(-15px);
    }

    8.5% {
      transform: translateY(-4px);
    }

    100% {
      transform: translateY(0);
    }
  }
}
