@media only screen and (min-width: 768px) {
  .contact-container form {
    margin: 150px 20% auto 20%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 2px;
  }

  .head1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
  }

  .contact-title {
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
  }

  .input-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 15px 0 15px 0;
  }

  #socials2 {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10%;
    margin-bottom: 0;
  }

  .input {
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 0.5rem 0 0.5rem;
    font-family: 'Inter', sans-serif;
  }

  .input-name,
  .input-email {
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #6b778c;
    margin-bottom: 1rem;
  }

  .input-message {
    height: 114px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    border: 1px solid #60c095;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .button-submit {
    width: 129px;
    height: 48px;
  }

  .my-email {
    visibility: hidden;
  }

  .mediumlogo {
    margin-top: 0.4vh;
  }
}
