@media only screen and (min-width: 764px) {
  .header-layout,
  .layout {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .header-layout {
    margin-top: 2rem;
    margin-bottom: 50px;
  }

  .header-layout img {
    visibility: hidden;
  }

  .scroll-down {
    margin-top: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid #dfe1e6;
    border-radius: 32px;
    background-color: #e5e5ee;
    background-image: url(../src/Union.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 30rem;
  }

  .scroll-down:hover {
    border: 1px solid #4ad8e2;
  }

  .recent {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-bottom: 0;
  }

  .layout {
    grid-row-gap: 30px;
  }

  .features,
  .articles,
  .article-aboutme {
    display: grid;
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    width: 327px;
    height: 474px;
    background-color: #ebf0ee;
  }

  .articles {
    grid-template-rows: 55% 15% 15% 15%;
  }

  .features {
    grid-template-rows: 45% 15% 35%;
    height: 375px;
  }

  .column-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    height: 1000px;
    margin: 0 10% 0 7%;
  }

  .flexible-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
