@import url('https://fonts.googleapis.com/css2?family=Inter');

.nav-container,
h1,
.pOne {
  text-align: center;
}

.languages,
.nav-container,
.mainpage,
#socials {
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-container {
  justify-content: space-evenly;
  margin: 0 28% 0 25%;
}

.desk-nav {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  color: #344563;
}

.wlcm-btn,
.menu-btn {
  visibility: hidden;
}

h1,
.pOne {
  font-family: 'Inter', sans-serif;
}

.mainpage {
  flex-flow: column wrap;
}

body {
  background-color: #e5e5e5;
  background-image: url(./bg/5.png), url(./bg/9.png), url(./bg/3.png), url(./bg/1.png), url(./bg/7.png), url(./bg/4.png), url(./bg/8.png), url(./cards/Frame.png);
  background-repeat: no-repeat;
  background-position: 100% 40rem, 100% 17rem, 100% 3rem, 50% 3rem, 0% 32rem, 30% 33.5rem, 5% 11rem, 100% 300rem;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.name {
  margin-top: 9vh;
  margin-bottom: 0;
  color: #172b4d;
}

.detail {
  color: #36b37f;
  margin-top: 0;
}

.pOne {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.languages,
#socials,
#socials2 {
  background-repeat: no-repeat;
  list-style-type: none;
  padding-left: 0;
}

.mediumlogo {
  margin-top: 0.6vh;
}

.logos {
  padding: 10px;
}
